In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('exp_mlops.csv')

In [12]:
df

,crawl data,clean data,insert data to database,build dataset,train AI models,validate AI models
0,20.446524,22.925759,3.338422,26.434431,128.766667,70.223333
1,19.309583,22.442677,0.996875,30.813478,122.333333,87.773333
2,21.035960,22.291268,1.002366,35.035311,122.683333,69.223333
3,18.730184,22.134425,0.986362,37.679376,141.250000,73.990000
4,19.945734,23.056739,2.321756,42.769500,122.450000,70.223333
5,21.203872,22.930342,0.975409,31.746566,130.450000,70.956667
6,22.200940,22.943318,1.000402,57.100556,137.166667,74.856667
7,21.811762,21.447932,0.998039,74.889004,144.750000,77.273333
8,19.510429,21.937528,2.625813,44.709613,125.900000,76.773333
9,19.905523,22.224158,2.513975,42.498519,156.566667,71.123333
10,19.299287,23.091197,0.995533,44.057190,120.916667,75.973333
11,19.320963,22.645140,0.987787,56.530113,122.233333,68.423333
12,22.255111,22.401694,1.008702,33.189562,147.416667,72.190000
13,19.068483,22.228252,1.009353,17.606998,117.516667,76.006667
14,18.251456,22.798932,0.996044,33.856135,146.366667,74.040000
15,19.078000,22.542174,1.003078,40.358201,151.066667,92.290000
16,18.684264,22.369473,1.001926,24.125229,137.616667,72.573333
17,20.176046,23.046376,2.012293,39.005479,147.433333,72.673333
18,19.209073,22.199751,1.011871,30.982687,138.350000,74.906667
19,18.674907,21.466214,0.998662,29.403161,124.500000,71.990000
20,18.602162,21.539077,1.013255,27.885699,145.266667,73.373333
21,22.653038,21.748960,0.979801,26.481693,146.250000,74.556667